.options {
    margin: 0 0 120px;

    @include vp-1023 {
        margin: 0 0 80px;
    }

    @include vp-767 {
        margin: 0 0 60px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
        margin: 0 auto;
        width: 100%;

        @media (max-width: 1560px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        width: 440px;

        @media (max-width: 1650px) {
            width: 340px;
        }

        @media (max-width: 1560px) {
            text-align: center;
            align-items: center;
            width: 500px;
        }

        @include vp-1023 {
            width: 354px;

        }

        @media (max-width: 500px) {
            width: 295px;
        }
    }

    &__heading {

        margin: 0;
        font-family: Tenor Sans;
        font-weight: 400;
        font-size: 34px;
        line-height: 44px;
        letter-spacing: -0.17rem;
        text-transform: uppercase;
        color: $color-fallow;
        margin-bottom: 30px;

        @include vp-1023 {
            font-size: 24px;
            line-height: 30px;
            letter-spacing: -0.12rem;
            text-align: center;
            margin: 0 0 20px;
        }

        @media (max-width: 500px) {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.1rem;
            margin: 0 0 15px;
        }
    }

    &__descr {
        font-size: 18px;
        line-height: 26px;
        margin: 0;
        letter-spacing: -0.01rem;
        margin: 0 0 40px;

        @include vp-1023 {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0;
            margin: 0 0 20px;
            text-align: center;
        }
    }

    &__link {
        display: inline;
        font-size: 18px;
        line-height: 26px;
        margin: 0;
        color: $color-fallow;
        padding: 17px;
        border: 1px solid $color-fallow;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        width: 220px;
        text-align: center;

        @include vp-1023 {
            font-size: 14px;
            line-height: 20px;
            padding: 14px;
            width: 180px;
        }

        &:hover,
        &:focus-visible {
            background: $color-fallow;
            color: $color-rustic-red;
            outline: none;
        }
    }

    &__right {
        display: flex;
        align-items: center;

        @include vp-1023 {
            align-items: center;
        }
    }

    &__border {
        display: flex;
        position: relative;

        &-icon {
            @include vp-1023 {
                display: none;
            }

            &--tablet {
                display: none;

                @include vp-1023 {
                    display: block;
                }
                
                @media (max-width: 510px) {
                    height: 285px;
                    width: 160px;
                }
            }
        }

        &-text {
            position: absolute;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 40px;
            top: 34.43%;
            left: 50%;
            transform: translateX(-50%);
            width: 260px;

            @include vp-1023 {
                top: 32.43%;
                width: 160px;
                gap: 20px;
            }

            @media (max-width: 500px) {
                width: 140px;
                top: 29.4%;
            }
        }

        &-number {
            font-family: Tenor Sans;
            font-size: 140px;
            line-height: 100px;
            letter-spacing: -0.4rem;
            text-transform: uppercase;
            color: $color-fallow;

            @media (max-width: 1200px) {
                font-size: 90px;
                line-height: 70px;
                letter-spacing: -0.22rem;
            }

            @media (max-width: 510px){
                font-size: 70px;
                line-height: 50px;
            }
        }

        &-descr {
            font-family: Tenor Sans;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: -0.085rem;
            text-align: center;
            text-transform: uppercase;
            color: $color-fallow;
            margin: 0;

            @include vp-1023 {
                font-size: 14px;
                line-height: 18px;
                letter-spacing: -0.07rem;
            }

            @media (max-width: 500px) {
                font-size: 12px;
                line-height: 16px;
                letter-spacing: -0.06rem;
            }
        }
    }

    &__picture {
        flex-shrink: 0;

        @include vp-1023 {
            height: 410px;
            width: 230px;
        }

        @media (max-width: 510px) {
            height: 285px;
            width: 160px;
        }
    }

    &__img {
        border-bottom-left-radius: 600px;
        border-bottom-right-radius: 600px;
    }

}